// ------------------------------------------------------------------------------ */
// colors
// ------------------------------------------------------------------------------ */

$wp-ulike-color-dark-100 : #000;
$wp-ulike-color-dark-90  : #333;
$wp-ulike-color-dark-80  : #3D3D3D;
$wp-ulike-color-dark-70  : #505050;
$wp-ulike-color-dark-60  : #888;
$wp-ulike-color-dark-50  : #AAA;
$wp-ulike-color-dark-30  : #BBB;

$wp-ulike-color-light    : #FFFFFF;
$wp-ulike-color-light-95 : #FDFDFD;
$wp-ulike-color-light-93 : #F9F9F9;
$wp-ulike-color-light-90 : #F3F3F3;
$wp-ulike-color-light-80 : #F1F1F1;
$wp-ulike-color-light-70 : #EAEAEA;
$wp-ulike-color-light-60 : #DEDEDE;
$wp-ulike-color-light-50 : #CCCCCC;