.wp-ulike-btn {
    font-weight: 600;
    display: inline-block;
    position: relative;
    line-height: 100%;
    border: none;
    cursor: pointer;
    overflow: hidden;
    text-decoration: none;
    z-index: 1;
    padding: 0.45rem 0.75rem !important;
    background: #f7f7f7;
    border-radius: 3px;
    background-color: #2C87FF;
    white-space: nowrap;
    color: #fff;

    &:hover {
        color: white;
        background-color: darken(#2C87FF, 10%);
    }

    &:focus {
        outline: none;
        box-shadow: none;
        color: white;
    }

    .wp-ulike-text {
        font-weight: 400;
        font-size: 0.8rem;
        line-height: 0.9rem;
        letter-spacing: 0;
    }

    &.wp-ulike-btn-success {
        background-color: #39D894;

        &:hover {
            background-color: darken(#39D894, 10%);
        }
    }

    &.wp-ulike-btn-info {
        background-color: #FFA658;

        &:hover {
            background-color: darken(#FFA658, 10%);
        }
    }

    &.wp-ulike-btn-error {
        background-color: #FF5858;

        &:hover {
            background-color: darken(#FF5858, 10%);
        }
    }

}