
/**
 *  Go Pro Page
 */

 // Variables
// ---------------------
$table-header-font-weight:      600;
$table-header-font-color:       #757575;

$table-cell-padding:            1rem;
$table-condensed-cell-padding:  $table-cell-padding/2;


$table-bg:                     	transparent;
$table-bg-accent:               #f5f5f5;
$table-bg-hover:                rgba(0,0,0,.12);
$table-bg-active:               $table-bg-hover;
$table-border-color:            #e0e0e0;

// Mixins
// -----------------
@mixin transition($transition) {
  -webkit-transition: $transition;
       -o-transition: $transition;
          transition: $transition;
}

.wp-ulike-go-pro-page {

	.has-1-columns, .has-2-columns, .has-3-columns, .has-4-columns{
		max-width: 1400px;
		margin-left: 0;
		margin-right: 0;
	}

	h1{
		margin-bottom: 1em;
	}

	h2{
		text-align: left;
	}

	.is-section-header{
		padding-top: 20px;
		margin-left: 20px;
		margin-right: 20px;
	}

	.wp-ulike-btn{
		margin-top: 5px;
		margin-right: 15px;
	}

	.wp-ulike-simple-table{
		width: 100%;
		max-width: 100%;
		margin-bottom: 2rem;
		background-color: $table-bg;
		> thead,
		> tbody,
		> tfoot {
		  > tr {
			@include transition(all .3s ease);
			> th,
			> td {
			  text-align: left;
			  padding: $table-cell-padding;
			  vertical-align: top;
			  border-top: 0;
			  @include transition(all .3s ease);
			}
		  }
		}
		> thead > tr > th {
		  font-weight: $table-header-font-weight;
		  color: $table-header-font-color;
		  vertical-align: bottom;
		  border-bottom: 1px solid rgba(0,0,0,.12);
		}
		> caption + thead,
		> colgroup + thead,
		> thead:first-child {
		  > tr:first-child {
			> th,
			> td {
			  border-top: 0;
			}
		  }
		}
		> tbody + tbody {
		  border-top: 1px solid rgba(0,0,0,.12);
		}

		// Nesting
		.table {
		  background-color: $table-bg;
		}

		// Remove border
		.no-border {
		  border: 0;
		}

		&.table-bordered {
			border: 0;
			> thead,
			> tbody,
			> tfoot {
				> tr {
				> th,
				> td {
					border: 0;
					border-bottom: 1px solid $table-border-color;
				}
				}
			}
			> thead > tr {
				> th,
				> td {
				border-bottom-width: 2px;
				}
			}
		}
	}

	.wp-ulike-table-icon{
		width: 18px;
		height: 18px;
	}
}