
/**
 *	RTL support
 */

.rtl {
	form.wp-ulike {
		p.submit {
			margin-right: inherit;
			margin-left: 20px;
		}
		.wp-ulike-settings-tabs {
			h2 {
				float: right;
				border-right: 1px solid #e0e0e0;
				border-left: none;
			}
		}
	}
	form.wrap {
		.wp-ulike-settings-tabs {
			h2 {
				&:last-child {
					border-left: 1px solid #ddd;
				}
			}
		}
	}
	tr.hide-label {
		td {
			padding-right: 0;
			padding-left: inherit !important;
		}
	}
	.wp-ulike-about-page {
		.ulike-badge {
			right: inherit;
			left: 0px;
		}
	}
	.wp-ulike-notice {

		.links {
			a {
				margin-right: 0;
				margin-left: 8px;
			}
		}

	}
	.wp-ulike-notice-image {
		margin-left: 25px;
		margin-right: 0;
	}
	.wp-ulike-pro-stats-banner{
		.wp-ulike-inner{
			&:before{
				left: 5%;
				right: 40%;
				background-position: bottom left;
			}
		}
	}

	.wp-ulike-go-pro-page {
		h2{
			text-align: right;
		}
		.wp-ulike-btn{
			margin-left: 15px;
			margin-right: 0;
		}
		.wp-ulike-simple-table{
			> thead,
			> tbody,
			> tfoot {
			  > tr {
				> th,
				> td {
				  text-align: right;
				}
			  }
			}
		}
	}

}
