/**
 *	Settings Page
 */

.wp-ulike-settings-notice,
.wp-ulike-notice-wrapper {
    position: relative;


    &.wp-ulike-notice-control {
        display: flex;
        align-items: center;
        padding: 30px 40px;
        margin-top: 20px !important;
        margin-bottom: 20px !important;
        box-shadow: 0 0 25px rgba(0, 0, 0, 0.08);
        border-left: 0;
        border-right: 0;
        margin-top: 20px !important;
        margin-bottom: 20px !important;

        &:before {
            content: '';
            position: absolute;
            left: 6px;
            top: 0;
            bottom: 0;
            width: 6px;
            background-color: #2C87FF;
            -webkit-transform: translateX(-6px);
            -ms-transform: translateX(-6px);
            transform: translateX(-6px);
            box-shadow: 0 3px 6px rgba(44, 135, 255, 0.16);
        }
    }


    &.wp-ulike-notice-skin-success {
        box-shadow: 0 3px 6px rgba(57, 216, 148, 0.16);

        &:before {
            background-color: #39D894;
        }
    }

    &.wp-ulike-notice-skin-info {
        box-shadow: 0 3px 6px rgba(255, 166, 88, 0.16);

        &:before {
            background-color: #FFA658;
        }
    }

    &.wp-ulike-notice-skin-error {
        box-shadow: 0 3px 6px rgba(255, 88, 88, 0.16);

        &:before {
            background-color: #FF5858;
        }
    }

    .wp-ulike-notice-image {
        margin-right: 25px;
    }

    .wp-ulike-notice-title {
        font-size: 1.0625rem;
        line-height: 1.2;
        font-weight: 600;
        margin: 0;
        margin-bottom: 5px;
        letter-spacing: 0;
    }

    .wp-ulike-notice-description {
        font-size: 13px;
        line-height: 1.5;
        color: #646970;
        font-weight: 400;
        margin: 0;
    }

    .wp-ulike-notice-submit {
        margin: 1.5em 0 0 -5px;
        padding: 0;

        .wp-ulike-btn {
            margin-bottom: 0;
            margin: 0 5px;
        }
    }

    .wp-ulike-close-notice {
        text-decoration: none;
    }

}

.wp-ulike-settings-license-activation {
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    .settings-error {
        flex: 0 1 100%;
    }

    .regular-text {
        font-size: 18px;
        font-weight: 600;
        width: 400px;
        height: 45px;
    }

    .button {
        height: 45px;
        font-weight: 700;
        padding: 0 20px;
    }
}