
/**
 *  Statistics Page
 */

.wp-ulike-page-title{
    font-size: 38px;
    line-height: 50px;
    font-weight: 400;
    margin: 0;
}

.wp-ulike-header{
    margin: 0 2% 10px;
    padding: 0 20px 35px;
    display: flex;
    justify-content: space-between;
    position: relative;
    align-items: center;
    flex-wrap: wrap;

    &:after{
        content: "";
        position: absolute;
        bottom: 0;
        height: 1px;
        background: #dde3e7;
        right: 20px;
        left: 20px;
    }

    .wp-ulike-widget-title{
        text-transform: capitalize;
        font-size: 22px;
        font-weight: 500;
        line-height: normal;
        color: #3d3d3d;
        margin: 0;
    }
}

.wp-ulike-button{
    background-color: #f9faff;
    padding: 10px 25px;
    text-decoration: none;
    text-transform: uppercase;
    color: #7e8996;
    border: 1px solid #dde3e7;
    border-radius: 50em;
    font-size: 14px;
    line-height: 20px;

    &:hover{
        background-color: #fff;
        color: #42484e;
    }
}

.wp-ulike-inner{
    position: relative;
    padding: 35px 20px;
    border: 1px solid #e4e6eb;
    // box-shadow: 0 3px 25px rgba(0,0,0,.08);
    background: #fff;
    border-radius: 4px;
    // min-height: 100px;
}

.wp-ulike-logs-count{
    margin: 0 auto;
    text-align: center;

    .wp-ulike-icon{
        font-size: 5vw;
        color: #8B93A6;
        line-height: 5vh;
    }

    .wp-ulike-var{
        font-size: 3vw;
        line-height: 4vw;;
        display: block;
    }

    .wp-ulike-text{
        display: block;
        color: #8B93A6;
        font-size: 1.5vw;
        line-height: 2.5vw;
    }
}


.wp-ulike-is-loading{
    padding: 10px 0;

    &:before{
        content: "";
        position: absolute;
        left: 0;
        width: 100%;
        top: 0;
        height: 100%;
        background-color: rgba(255,255,255, 1);
        background-image: url(../../../assets/img/svg/statistics.svg);
        background-repeat: no-repeat;
        background-position: center center;
        z-index: 9;
    }
}

.wp-ulike-btn-is-loading{
    position: relative;

    .wp-ulike-text{
        visibility: hidden;
    }

    &:before{
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        width: 25px;
        height: 25px;
        transform: translateX(-50%) translateY(-50%);
        background-image: url(../../../assets/img/svg/button-spinner.svg);
        z-index: 9;
    }
}

.wp-ulike-pro-stats-banner{

    .wp-ulike-inner{
        padding: 20px 40px;
        &:before{
            content: "";
            position: absolute;
            right: 5%;
            left: 40%;
            bottom: 0;
            height: 100%;
            background-image: url(../../../assets/img/pro-stats-banner.svg);
            background-size: contain;
            background-repeat: no-repeat;
            background-position: bottom right;
        }

        h3{
            margin: 0.5em 0;
            font-size: 32px;
            max-width: 360px;
            line-height: 1.4;
            font-weight: 500;
            color: #017e52;
        }

        p{
            max-width: 540px;
            font-size: 15px;
            line-height: 1.4em;
            color: #8B93A6;
        }

        .wp-ulike-button-group{
            margin: 2em 0 1em;

            .wp-ulike-btn{
                margin: 0 5px;
            }
        }
    }
}

.wp-ulike-table{
    display: table;

    .wp-ulike-table-cell{
        display: table-cell;
        vertical-align: middle;
    }

}

.wp-ulike-summary-charts{

    .wp-ulike-info{
        flex-basis: 35%;
    }

    .wp-ulike-icon{
        font-size: 3vw;
        color: #8B93A6;
        line-height: normal;
        flex-basis: 25%;
    }

    .wp-ulike-var{
        font-size: 1.8vw;
        line-height: normal;;
        display: block;
    }

    .wp-ulike-text{
        display: block;
        color: #8B93A6;
        font-size: 1vw;
        line-height: normal;
    }
}

.wp-ulike-top-likers{
    margin: 0 2%;

    .wp-ulike-users-list{
        border-bottom: 1px solid #dde3e7;
        font-size: 15px;
        padding: 20px 0px;
        margin: 5px;

        i {
            color: #8B93A6;
            margin: 0 5px;
        }
    }

    .wp-ulike-info{
        width: 60%;
    }
    .wp-ulike-counter{
        width: 20%;
    }
    .wp-ulike-total{
        width: 20%;
    }
}

.wp-ulike-empty-stats{
    text-align: center;
    height: 50em;
    position: relative;

    > div {
        position: relative;
        top: 50%;
        transform: translateY(-50%);
    }

    .wp-ulike-icon{
        font-size: 110px;
        color: #8B93A6;
    }

    .wp-ulike-info{
        font-size: 28px;
        line-height: 42px;
        font-weight: 300;
        margin-top: 50px;
    }
}

.wp-ulike-tops-list{
    padding: 0 20px;

    > ul{
        font-size: 16px;
        font-weight: 300;
        line-height: 26px;
        color: #3d3d3d;
        margin: 0;

        > li{
            display: flex;
            justify-content: space-between;
            border-bottom: 1px solid #dde3e7;
            padding: 8px 0;

            a{
                text-decoration: none;
                color: #3d3d3d;
            }
        }
    }
}