/**
 *	Visual Select
 */

.wp-ulike-visual-select {
    .ulf--image {
        img {
            height: 35px;
            padding: 10px;
        }

        &.ulf--active {
            img {
                filter: brightness(40%) sepia(100%) hue-rotate(170deg) saturate(250%);
            }
        }
    }
}