
/**
 * Heart template
 */
.wpulike-heart {

    .wp_ulike_general_class {
        display: inline-block;
        box-shadow: 0 0 0 1px #bdbdbd inset;
        border-radius: .25em;
        padding: 5px;
    }

    .wp_ulike_btn {
        padding: 0 5px;
        text-transform: uppercase;
        font-weight: 600;
        color: #757575;
        min-width: 30px;
    }

    .wp_ulike_likers_wrapper{
        bottom: 10px;
    }

    .wp_ulike_put_image{

        &:after{
            content: '';
            display: block;
            background: url(../img/svg/love.svg) no-repeat;
            background-size: contain;
            width: 20px;
            height: 20px;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translateX(-50%) translateY(-50%) ;
        }

        &.image-unlike{
            &:after{
                filter: invert(44%) sepia(40%) saturate(3852%) hue-rotate(329deg) brightness(100%) contrast(111%);
            }
        }
    }

    .count-box {
        font-size: 14px;
        text-decoration: none;
        line-height: 28px;
        display: inline-block;
        color: #616161;
        min-width: 30px;
        text-align: center;
        font-weight: 600;
        vertical-align: middle;
        padding: 0 5px;
    }

}

#buddypress #activity-stream{

    .activity-meta {

        .wpulike-heart {
            .wp_ulike_general_class {
                border-radius: 0;
                padding: 1px 5px;
                margin-bottom: 2px;
            }
            .count-box {
                min-width: 20px;
            }
        }

    }
}

#bbpress-forums {
    .bbp-reply-content {
        .wpulike-heart {
            .wp_ulike_btn {
                padding: 0 15px;
            }
        }
    }
}