.wpulike {
    display: inline;
}

.wpulike .counter a {
    cursor: pointer;
	display:inline !important;	
}

.wpulike .counter a.image {
    background: #f1f1f1 url(add-rtl.png) center center no-repeat;
    padding: 1px 20px;
    border: 1px solid #ddd;
    border-radius: 3px;
}

.wpulike .counter a.image:hover{
    background: #eee url(add-rtl.png) center center no-repeat;
    border: 1px solid #ccc;
}

.wpulike .counter a.loading {
    background: #f1f1f1 url(loading.GIF) center center no-repeat;
    padding: 1px 20px;
    border: 1px solid #ddd;
    border-radius: 3px;
}

.wpulike .counter a.text {
    background: #f7f7f7;
    padding: 2px 15px;
    border: 1px solid #cdcdcd;
    border-radius: 3px;
	text-decoration:none;
    color: #606060;
}

.wpulike .counter a.text:hover{
    background: #eee;
    border: 1px solid #ccc;
}

.wpulike .count-box {
    position: relative;
    background: #fff;
    border: 1px solid #ddd;
    padding: 1px 6px;
	border-radius: 3px;
    margin-right: 8px;
    font-size: 16px;
}

.wpulike .count-box:before {
    content: "";
    position: absolute;
    top: 7px;
    right: -3px;
    width: 4px;
    height: 4px;
    border-width: 1px 1px 0 0;
    border-style: solid;
    border-color: #ddd;
    background: #fff;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
.sr-only-focusable:active,
.sr-only-focusable:focus {
  position: static;
  width: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  clip: auto;
}
.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}
.alert h4 {
  margin-top: 0;
  color: inherit;
}
.alert .alert-link {
  font-weight: bold;
}
.alert > p,
.alert > ul {
  margin-bottom: 0;
}
.alert > p + p {
  margin-top: 5px;
}
.alert-dismissable,
.alert-dismissible {
  padding-left: 35px;
}
.alert-dismissable .close,
.alert-dismissible .close {
  position: relative;
  top: -2px;
  left: -21px;
  color: inherit;
}
.alert-success {
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #3c763d;
}
.alert-success hr {
  border-top-color: #c9e2b3;
}
.alert-success .alert-link {
  color: #2b542c;
}
.alert-info {
  background-color: #d9edf7;
  border-color: #bce8f1;
  color: #31708f;
}
.alert-info hr {
  border-top-color: #a6e1ec;
}
.alert-info .alert-link {
  color: #245269;
}
.alert-warning {
  background-color: #fcf8e3;
  border-color: #faebcc;
  color: #8a6d3b;
}
.alert-warning hr {
  border-top-color: #f7e1b5;
}
.alert-warning .alert-link {
  color: #66512c;
}
.alert-danger {
  background-color: #f2dede;
  border-color: #ebccd1;
  color: #a94442;
}
.alert-danger hr {
  border-top-color: #e4b9c0;
}
.alert-danger .alert-link {
  color: #843534;
}
.close {
  float: left;
  font-size: 21px;
  font-weight: bold;
  line-height: 1;
  color: #000000;
  text-shadow: 0 1px 0 #ffffff;
  opacity: 0.2;
  filter: alpha(opacity=20);
}
.close:hover,
.close:focus {
  color: #000000;
  text-decoration: none;
  cursor: pointer;
  opacity: 0.5;
  filter: alpha(opacity=50);
}
button.close {
  padding: 0;
  cursor: pointer;
  background: transparent;
  border: 0;
  -webkit-appearance: none;
}
.fade {
	opacity:0;
	-webkit-transition:opacity .15s linear;-o-transition:opacity .15s linear;
	transition:opacity .15s linear
}
.fade.in {
	opacity:1
}

.tiles,.most_liked_users {
  list-style-type: none !important;
  position: relative !important;
  margin: 10px 0 !important;
  padding: 0 !important;
}
.tiles li,.most_liked_users li{
	display:inline-table;
	cursor: pointer;
}
.most_liked_users li{
	margin:0 2px;
}

.tiles li.inactive,.most_liked_users li.inactive {
  visibility: hidden;
  opacity: 0;
}

.tiles li img ,.most_liked_users li img {
  display: block !important;
  float: none !important;
}

.tooltip {
  position: absolute;
  z-index: 1030;
  display: block;
  font-size: 11px;
  line-height: 1.4;
  opacity: 0;
  filter: alpha(opacity=0);
  visibility: visible;
}

.tooltip.in {
  opacity: 0.8;
  filter: alpha(opacity=80);
}

.tooltip.top {
  padding: 5px 0;
  margin-top: -3px;
}

.tooltip.right {
  padding: 0 5px;
  margin-left: 3px;
}

.tooltip.bottom {
  padding: 5px 0;
  margin-top: 3px;
}

.tooltip.left {
  padding: 0 5px;
  margin-left: -3px;
}

.tooltip-inner {
  max-width: 200px;
  padding: 8px;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  background-color: #000000;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}

.tooltip-arrow {
  position: absolute;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
}

.tooltip.top .tooltip-arrow {
  bottom: 0;
  left: 50%;
  margin-left: -5px;
  border-top-color: #000000;
  border-width: 5px 5px 0;
}

.tooltip.right .tooltip-arrow {
  top: 50%;
  left: 0;
  margin-top: -5px;
  border-right-color: #000000;
  border-width: 5px 5px 5px 0;
}

.tooltip.left .tooltip-arrow {
  top: 50%;
  right: 0;
  margin-top: -5px;
  border-left-color: #000000;
  border-width: 5px 0 5px 5px;
}

.tooltip.bottom .tooltip-arrow {
  top: 0;
  left: 50%;
  margin-left: -5px;
  border-bottom-color: #000000;
  border-width: 0 5px 5px;
}

.badge {
    display: inline-block;
    min-width: 10px;
    padding: 3px 7px;
    font-size: 12px;
    font-weight: 700;
    line-height: 1;
    color: #FFF;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    background-color: #777;
    border-radius: 10px;
}

#buddypress .activity ul.item-list li{
	position:initial;
}

#buddypress div.activity-meta .tiles li a{
	padding:0;
}

#buddypress .activity-content .wpulike .count-box {
    border: 1px solid #CCC;
    font-size: small;
	color: #777;
    padding: 4px 10px;
}

#buddypress .activity-content .wpulike .counter a.image.button{
	background: url(add.png) center center no-repeat;
	padding: 4px 20px !important;
}

#buddypress .activity-content .wpulike .counter a.loading {
	background: url(loading.GIF) center center no-repeat;
	padding: 4px 20px !important;
}

#bbpress-forums .bbp-reply-content .wpulike .counter a.text,#bbpress-forums .bbp-reply-content .wpulike .counter a.image,#bbpress-forums .bbp-reply-content .wpulike .counter a.loading{
    background: #f7f7f7;
    padding: 4px 15px !important;
    border: 1px solid #cdcdcd;
    border-radius: 3px;
	text-decoration:none;
    color: #606060;
}

#bbpress-forums .bbp-reply-content .wpulike .counter a.image{
	background: url(add.png) center center no-repeat;
	padding: 4px 20px !important;
}

#bbpress-forums .bbp-reply-content .wpulike .counter a.loading{
	background: url(loading.GIF) center center no-repeat;
	padding: 4px 20px !important;
}