/*!
===============================================================
 * WP ULike
 * @author Alimir [https://wordpress.org/plugins/wp-ulike/]
===============================================================
*/
.wpulike {
  display: block;
  position: relative;
  line-height: normal;
  margin: 0;
  padding: 10px 0; }
  .wpulike .wp_ulike_general_class {
    display: inline-flex;
    align-items: center; }
  .wpulike button.wp_ulike_btn {
    margin: 0;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    border-radius: .25em;
    box-shadow: none;
    padding: 1em;
    font-size: 15px;
    border: none;
    text-align: center;
    transition: none;
    cursor: pointer; }
    .wpulike button.wp_ulike_btn:hover, .wpulike button.wp_ulike_btn:active, .wpulike button.wp_ulike_btn:focus {
      outline: none; }
    .wpulike button.wp_ulike_btn::-moz-focus-inner {
      border: 0; }
    .wpulike button.wp_ulike_btn[disabled=disabled]:hover, .wpulike button.wp_ulike_btn[disabled=disabled]:active, .wpulike button.wp_ulike_btn[disabled=disabled]:focus, .wpulike button.wp_ulike_btn:disabled:hover, .wpulike button.wp_ulike_btn:disabled:active, .wpulike button.wp_ulike_btn:disabled:focus {
      outline: none;
      background-color: initial; }
    .wpulike button.wp_ulike_btn.wp_ulike_put_text {
      font-size: 14px;
      font-weight: 600;
      line-height: 28px;
      padding: 0 10px;
      min-width: 50px; }
  .wpulike .wp_ulike_is_loading .wp_ulike_btn {
    background-image: url(../img/svg/loader.svg);
    background-repeat: no-repeat;
    background-position: center center; }
    .wpulike .wp_ulike_is_loading .wp_ulike_btn span {
      visibility: hidden; }
    .wpulike .wp_ulike_is_loading .wp_ulike_btn.wp_ulike_put_image::after {
      content: none; }
  .wpulike.wpulike-hide-counter .count-box {
    display: none; }
  .wpulike .count-box:empty {
    display: none; }

#buddypress #activity-stream .activity-meta .wpulike,
#buddypress #activity-stream .activity-comments .wpulike,
#buddypress #activity-stream .activity-inner .wpulike {
  display: inline-block;
  vertical-align: super; }

#buddypress #activity-stream .wp_ulike_likers_wrapper li,
#buddypress #activity-stream .wp_ulike_likers_wrapper .wp-ulike-liker {
  border: none;
  padding: 0; }
  #buddypress #activity-stream .wp_ulike_likers_wrapper li a,
  #buddypress #activity-stream .wp_ulike_likers_wrapper li img,
  #buddypress #activity-stream .wp_ulike_likers_wrapper .wp-ulike-liker a,
  #buddypress #activity-stream .wp_ulike_likers_wrapper .wp-ulike-liker img {
    float: none;
    padding: 0;
    margin: 0; }

.wp_ulike_click_is_disabled {
  pointer-events: none;
  cursor: default; }

.wp_ulike_hide_me {
  visibility: hidden; }

/**
 * Default template
 */
.wpulike-default button.wp_ulike_btn {
  color: #616161;
  background-color: #e0e0e0;
  min-height: 30px;
  min-width: 50px; }
  .wpulike-default button.wp_ulike_btn:hover, .wpulike-default button.wp_ulike_btn:focus {
    color: #616161;
    background-color: #e0e0e0;
    text-decoration: none; }
  .wpulike-default button.wp_ulike_btn[disabled=disabled]:hover, .wpulike-default button.wp_ulike_btn[disabled=disabled]:active, .wpulike-default button.wp_ulike_btn[disabled=disabled]:focus, .wpulike-default button.wp_ulike_btn:disabled:hover, .wpulike-default button.wp_ulike_btn:disabled:active, .wpulike-default button.wp_ulike_btn:disabled:focus {
    background-color: #e0e0e0; }

.wpulike-default .wp_ulike_is_liked .wp_ulike_btn {
  color: #757575; }

.wpulike-default .wp_ulike_put_image:after {
  content: '';
  display: block;
  background: url(../img/svg/like.svg) no-repeat;
  background-size: contain;
  width: 16px;
  height: 16px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%); }

.wpulike-default .wp_ulike_put_image.wp_ulike_btn_is_active:after {
  filter: invert(44%) sepia(40%) saturate(3852%) hue-rotate(329deg) brightness(100%) contrast(111%); }

.wpulike-default .count-box {
  position: relative;
  border-radius: .25em;
  font-size: 13px;
  text-decoration: none;
  background-color: #FFFFFF;
  margin-left: 8px;
  line-height: 30px;
  display: inline-block;
  padding: 0 10px;
  box-shadow: 0 0 0 1px #bdbdbd inset;
  color: #616161;
  vertical-align: middle;
  text-align: center; }
  .wpulike-default .count-box:before {
    content: '';
    position: absolute;
    border: 1px solid transparent;
    background: #FFFFFF;
    border-bottom-color: #bdbdbd;
    left: -5px;
    top: 50%;
    border-left-color: #bdbdbd;
    transform: rotate(45deg) translatey(-50%);
    width: 5px;
    height: 5px;
    margin: 0;
    box-sizing: content-box; }

#buddypress #activity-stream .activity-meta .wpulike-default button.wp_ulike_btn,
#buddypress #activity-stream .activity-comments .wpulike-default button.wp_ulike_btn,
#buddypress #activity-stream .activity-inner .wpulike-default button.wp_ulike_btn {
  border-radius: 0;
  background-color: #ffffff;
  box-shadow: 0 0 0 1px #bdbdbd inset;
  font-size: initial;
  padding: 1em; }

#buddypress #activity-stream .activity-meta .wpulike-default .wp_ulike_is_loading button.wp_ulike_btn,
#buddypress #activity-stream .activity-comments .wpulike-default .wp_ulike_is_loading button.wp_ulike_btn,
#buddypress #activity-stream .activity-inner .wpulike-default .wp_ulike_is_loading button.wp_ulike_btn {
  background-image: url(../img/svg/loader.svg);
  background-repeat: no-repeat;
  background-position: center center; }

/**
 * Heart template
 */
.wpulike-heart .wp_ulike_general_class {
  box-shadow: 0 0 0 1px #bdbdbd inset;
  border-radius: .25em;
  padding: 5px; }

.wpulike-heart .wp_ulike_put_text {
  padding: 0 5px;
  text-transform: uppercase;
  font-weight: 600;
  color: #757575; }

.wpulike-heart button.wp_ulike_btn {
  background: transparent;
  padding: 15px; }
  .wpulike-heart button.wp_ulike_btn:hover, .wpulike-heart button.wp_ulike_btn:focus {
    color: #757575;
    background-color: transparent;
    text-decoration: none; }

.wpulike-heart .wp_ulike_put_image {
  background: none;
  padding: 15px; }
  .wpulike-heart .wp_ulike_put_image[disabled=disabled]:hover, .wpulike-heart .wp_ulike_put_image[disabled=disabled]:active, .wpulike-heart .wp_ulike_put_image[disabled=disabled]:focus, .wpulike-heart .wp_ulike_put_image:disabled:hover, .wpulike-heart .wp_ulike_put_image:disabled:active, .wpulike-heart .wp_ulike_put_image:disabled:focus {
    padding: 15px; }
  .wpulike-heart .wp_ulike_put_image:after {
    content: '';
    display: block;
    background: url(../img/svg/love.svg) no-repeat;
    background-position: center center;
    background-size: contain;
    width: 20px;
    height: 20px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%); }
  .wpulike-heart .wp_ulike_put_image.wp_ulike_btn_is_active:after {
    filter: invert(44%) sepia(40%) saturate(3852%) hue-rotate(329deg) brightness(100%) contrast(111%); }

.wpulike-heart .count-box {
  font-size: 14px;
  text-decoration: none;
  line-height: 28px;
  display: inline-block;
  color: #616161;
  text-align: center;
  font-weight: 600;
  vertical-align: middle;
  padding: 0 5px; }

#buddypress #activity-stream .activity-meta .wpulike-heart .wp_ulike_btn,
#buddypress #activity-stream .activity-comments .wpulike-heart .wp_ulike_btn,
#buddypress #activity-stream .activity-inner .wpulike-heart .wp_ulike_btn {
  background-color: transparent;
  border: 0;
  font-size: initial;
  padding: 1em; }

#buddypress #activity-stream .activity-meta .wpulike-heart .wp_ulike_put_image,
#buddypress #activity-stream .activity-comments .wpulike-heart .wp_ulike_put_image,
#buddypress #activity-stream .activity-inner .wpulike-heart .wp_ulike_put_image {
  padding: 10px 15px; }
  #buddypress #activity-stream .activity-meta .wpulike-heart .wp_ulike_put_image:after,
  #buddypress #activity-stream .activity-comments .wpulike-heart .wp_ulike_put_image:after,
  #buddypress #activity-stream .activity-inner .wpulike-heart .wp_ulike_put_image:after {
    width: 17px;
    height: 17px; }

#buddypress #activity-stream .activity-meta .wpulike-heart .wp_ulike_general_class,
#buddypress #activity-stream .activity-comments .wpulike-heart .wp_ulike_general_class,
#buddypress #activity-stream .activity-inner .wpulike-heart .wp_ulike_general_class {
  border-radius: 0;
  padding: 0.1em 0.3em;
  margin-bottom: 0; }

#buddypress #activity-stream .activity-meta .wpulike-heart .wp_ulike_is_loading .wp_ulike_btn,
#buddypress #activity-stream .activity-comments .wpulike-heart .wp_ulike_is_loading .wp_ulike_btn,
#buddypress #activity-stream .activity-inner .wpulike-heart .wp_ulike_is_loading .wp_ulike_btn {
  background-image: url(../img/svg/loader.svg);
  background-repeat: no-repeat;
  background-position: center center; }

/**
 * Robeen template
 */
.wpulike-robeen .count-box {
  font-weight: 600;
  padding: 0 14px;
  font-size: 16px; }

.wpulike-robeen .wp_ulike_is_loading button.wp_ulike_btn {
  background-image: initial;
  padding: 0; }
  .wpulike-robeen .wp_ulike_is_loading button.wp_ulike_btn.wp_ulike_put_image:after {
    content: ''; }

.wpulike-robeen button.wp_ulike_btn {
  width: 30px;
  height: 30px;
  overflow: hidden;
  padding: 0;
  border: 0;
  background: transparent; }
  .wpulike-robeen button.wp_ulike_btn:hover, .wpulike-robeen button.wp_ulike_btn:focus {
    background-color: transparent; }
  .wpulike-robeen button.wp_ulike_btn:after {
    content: '';
    background: url(../img/icons/twitter-heart.png) no-repeat;
    background-position: 0 0;
    transition: background-position 1s steps(28);
    transition-duration: 0s;
    width: 100px;
    height: 100px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%); }
  .wpulike-robeen button.wp_ulike_btn.wp_ulike_btn_is_active {
    overflow: visible; }
    .wpulike-robeen button.wp_ulike_btn.wp_ulike_btn_is_active:after {
      transition-duration: 1s;
      background-position: -2800px 0; }

#buddypress #activity-stream .activity-meta .wpulike-robeen .wp_ulike_btn,
#buddypress #activity-stream .activity-comments .wpulike-robeen .wp_ulike_btn,
#buddypress #activity-stream .activity-inner .wpulike-robeen .wp_ulike_btn {
  background: transparent;
  border: 0;
  width: 30px;
  height: 30px;
  border: 0;
  padding: 0; }

/**
 * Animated heart template
 */
.wpulike-animated-heart button.wp_ulike_btn {
  position: relative;
  border-radius: 50em;
  background-color: #ffffff;
  padding: 0;
  box-shadow: 0px 5px 30px rgba(255, 111, 99, 0.4);
  border: 0;
  width: 50px;
  height: 50px; }
  .wpulike-animated-heart button.wp_ulike_btn:hover, .wpulike-animated-heart button.wp_ulike_btn:focus {
    background-color: #ffffff;
    background-image: none; }
  .wpulike-animated-heart button.wp_ulike_btn[disabled=disabled]:hover, .wpulike-animated-heart button.wp_ulike_btn[disabled=disabled]:active, .wpulike-animated-heart button.wp_ulike_btn[disabled=disabled]:focus, .wpulike-animated-heart button.wp_ulike_btn:disabled:hover, .wpulike-animated-heart button.wp_ulike_btn:disabled:active, .wpulike-animated-heart button.wp_ulike_btn:disabled:focus {
    background-color: #ffffff; }
  .wpulike-animated-heart button.wp_ulike_btn.wp_ulike_btn_is_active {
    background-color: #ff6f63; }
    .wpulike-animated-heart button.wp_ulike_btn.wp_ulike_btn_is_active[disabled=disabled]:hover, .wpulike-animated-heart button.wp_ulike_btn.wp_ulike_btn_is_active[disabled=disabled]:active, .wpulike-animated-heart button.wp_ulike_btn.wp_ulike_btn_is_active[disabled=disabled]:focus, .wpulike-animated-heart button.wp_ulike_btn.wp_ulike_btn_is_active:disabled:hover, .wpulike-animated-heart button.wp_ulike_btn.wp_ulike_btn_is_active:disabled:active, .wpulike-animated-heart button.wp_ulike_btn.wp_ulike_btn_is_active:disabled:focus {
      background-color: #ff6f63; }
    .wpulike-animated-heart button.wp_ulike_btn.wp_ulike_btn_is_active .wpulike-svg-heart {
      fill: #ffffff; }
      .wpulike-animated-heart button.wp_ulike_btn.wp_ulike_btn_is_active .wpulike-svg-heart-pop {
        animation-direction: normal; }
  .wpulike-animated-heart button.wp_ulike_btn:active {
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25); }

.wpulike-animated-heart .wp_ulike_is_loading button.wp_ulike_btn {
  background-image: initial;
  padding: 0; }
  .wpulike-animated-heart .wp_ulike_is_loading button.wp_ulike_btn.wp_ulike_put_image:after {
    content: ''; }

.wpulike-animated-heart .wpulike-svg-heart {
  width: 20px;
  fill: #ff6f63;
  transition: fill .5s, transform .5s;
  pointer-events: none;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%); }
  .wpulike-animated-heart .wpulike-svg-heart-pop {
    position: absolute;
    width: 30%;
    fill: #ff6f63;
    opacity: 0;
    left: 0;
    animation: popHearts 1s ease forwards reverse; }
    .wpulike-animated-heart .wpulike-svg-heart-pop.one {
      left: 1%;
      transform: rotate(-10deg);
      animation-delay: 0.45s; }
    .wpulike-animated-heart .wpulike-svg-heart-pop.two {
      left: 15%;
      transform: rotate(8deg);
      animation-delay: 0.25s; }
    .wpulike-animated-heart .wpulike-svg-heart-pop.three {
      left: 30%;
      transform: rotate(-5deg);
      animation-delay: 0s; }
    .wpulike-animated-heart .wpulike-svg-heart-pop.four {
      left: 50%;
      transform: rotate(-8deg);
      animation-delay: 0.3s; }
    .wpulike-animated-heart .wpulike-svg-heart-pop.five {
      left: 60%;
      transform: rotate(-10deg);
      animation-delay: 0.9s; }
    .wpulike-animated-heart .wpulike-svg-heart-pop.six {
      left: 70%;
      transform: rotate(-8deg);
      animation-delay: 0.2s; }
    .wpulike-animated-heart .wpulike-svg-heart-pop.seven {
      left: 85%;
      transform: rotate(6deg);
      animation-delay: 0.35s; }
    .wpulike-animated-heart .wpulike-svg-heart-pop.eight {
      left: 90%;
      transform: rotate(-4deg);
      animation-delay: 0.5s; }
    .wpulike-animated-heart .wpulike-svg-heart-pop.nine {
      left: 95%;
      transform: rotate(8deg);
      animation-delay: 0.2s; }

.wpulike-animated-heart .count-box {
  margin: 0 15px;
  color: #ff6f63;
  display: inline-block;
  vertical-align: middle; }

#buddypress #activity-stream .activity-meta .wpulike-animated-heart .wp_ulike_btn,
#buddypress #activity-stream .activity-comments .wpulike-animated-heart .wp_ulike_btn,
#buddypress #activity-stream .activity-inner .wpulike-animated-heart .wp_ulike_btn {
  border-radius: 50em;
  background-color: #ffffff;
  padding: 0;
  box-shadow: 0px 5px 30px rgba(255, 111, 99, 0.4);
  border: 0;
  width: 50px;
  height: 50px; }
  #buddypress #activity-stream .activity-meta .wpulike-animated-heart .wp_ulike_btn:hover, #buddypress #activity-stream .activity-meta .wpulike-animated-heart .wp_ulike_btn:focus,
  #buddypress #activity-stream .activity-comments .wpulike-animated-heart .wp_ulike_btn:hover,
  #buddypress #activity-stream .activity-comments .wpulike-animated-heart .wp_ulike_btn:focus,
  #buddypress #activity-stream .activity-inner .wpulike-animated-heart .wp_ulike_btn:hover,
  #buddypress #activity-stream .activity-inner .wpulike-animated-heart .wp_ulike_btn:focus {
    background-color: #ffffff;
    background-image: none; }
  #buddypress #activity-stream .activity-meta .wpulike-animated-heart .wp_ulike_btn[disabled=disabled]:hover, #buddypress #activity-stream .activity-meta .wpulike-animated-heart .wp_ulike_btn[disabled=disabled]:active, #buddypress #activity-stream .activity-meta .wpulike-animated-heart .wp_ulike_btn[disabled=disabled]:focus, #buddypress #activity-stream .activity-meta .wpulike-animated-heart .wp_ulike_btn:disabled:hover, #buddypress #activity-stream .activity-meta .wpulike-animated-heart .wp_ulike_btn:disabled:active, #buddypress #activity-stream .activity-meta .wpulike-animated-heart .wp_ulike_btn:disabled:focus,
  #buddypress #activity-stream .activity-comments .wpulike-animated-heart .wp_ulike_btn[disabled=disabled]:hover,
  #buddypress #activity-stream .activity-comments .wpulike-animated-heart .wp_ulike_btn[disabled=disabled]:active,
  #buddypress #activity-stream .activity-comments .wpulike-animated-heart .wp_ulike_btn[disabled=disabled]:focus,
  #buddypress #activity-stream .activity-comments .wpulike-animated-heart .wp_ulike_btn:disabled:hover,
  #buddypress #activity-stream .activity-comments .wpulike-animated-heart .wp_ulike_btn:disabled:active,
  #buddypress #activity-stream .activity-comments .wpulike-animated-heart .wp_ulike_btn:disabled:focus,
  #buddypress #activity-stream .activity-inner .wpulike-animated-heart .wp_ulike_btn[disabled=disabled]:hover,
  #buddypress #activity-stream .activity-inner .wpulike-animated-heart .wp_ulike_btn[disabled=disabled]:active,
  #buddypress #activity-stream .activity-inner .wpulike-animated-heart .wp_ulike_btn[disabled=disabled]:focus,
  #buddypress #activity-stream .activity-inner .wpulike-animated-heart .wp_ulike_btn:disabled:hover,
  #buddypress #activity-stream .activity-inner .wpulike-animated-heart .wp_ulike_btn:disabled:active,
  #buddypress #activity-stream .activity-inner .wpulike-animated-heart .wp_ulike_btn:disabled:focus {
    background-color: #ffffff; }
  #buddypress #activity-stream .activity-meta .wpulike-animated-heart .wp_ulike_btn.wp_ulike_btn_is_active,
  #buddypress #activity-stream .activity-comments .wpulike-animated-heart .wp_ulike_btn.wp_ulike_btn_is_active,
  #buddypress #activity-stream .activity-inner .wpulike-animated-heart .wp_ulike_btn.wp_ulike_btn_is_active {
    background-color: #ff6f63; }
    #buddypress #activity-stream .activity-meta .wpulike-animated-heart .wp_ulike_btn.wp_ulike_btn_is_active[disabled=disabled]:hover, #buddypress #activity-stream .activity-meta .wpulike-animated-heart .wp_ulike_btn.wp_ulike_btn_is_active[disabled=disabled]:active, #buddypress #activity-stream .activity-meta .wpulike-animated-heart .wp_ulike_btn.wp_ulike_btn_is_active[disabled=disabled]:focus, #buddypress #activity-stream .activity-meta .wpulike-animated-heart .wp_ulike_btn.wp_ulike_btn_is_active:disabled:hover, #buddypress #activity-stream .activity-meta .wpulike-animated-heart .wp_ulike_btn.wp_ulike_btn_is_active:disabled:active, #buddypress #activity-stream .activity-meta .wpulike-animated-heart .wp_ulike_btn.wp_ulike_btn_is_active:disabled:focus,
    #buddypress #activity-stream .activity-comments .wpulike-animated-heart .wp_ulike_btn.wp_ulike_btn_is_active[disabled=disabled]:hover,
    #buddypress #activity-stream .activity-comments .wpulike-animated-heart .wp_ulike_btn.wp_ulike_btn_is_active[disabled=disabled]:active,
    #buddypress #activity-stream .activity-comments .wpulike-animated-heart .wp_ulike_btn.wp_ulike_btn_is_active[disabled=disabled]:focus,
    #buddypress #activity-stream .activity-comments .wpulike-animated-heart .wp_ulike_btn.wp_ulike_btn_is_active:disabled:hover,
    #buddypress #activity-stream .activity-comments .wpulike-animated-heart .wp_ulike_btn.wp_ulike_btn_is_active:disabled:active,
    #buddypress #activity-stream .activity-comments .wpulike-animated-heart .wp_ulike_btn.wp_ulike_btn_is_active:disabled:focus,
    #buddypress #activity-stream .activity-inner .wpulike-animated-heart .wp_ulike_btn.wp_ulike_btn_is_active[disabled=disabled]:hover,
    #buddypress #activity-stream .activity-inner .wpulike-animated-heart .wp_ulike_btn.wp_ulike_btn_is_active[disabled=disabled]:active,
    #buddypress #activity-stream .activity-inner .wpulike-animated-heart .wp_ulike_btn.wp_ulike_btn_is_active[disabled=disabled]:focus,
    #buddypress #activity-stream .activity-inner .wpulike-animated-heart .wp_ulike_btn.wp_ulike_btn_is_active:disabled:hover,
    #buddypress #activity-stream .activity-inner .wpulike-animated-heart .wp_ulike_btn.wp_ulike_btn_is_active:disabled:active,
    #buddypress #activity-stream .activity-inner .wpulike-animated-heart .wp_ulike_btn.wp_ulike_btn_is_active:disabled:focus {
      background-color: #ff6f63; }
  #buddypress #activity-stream .activity-meta .wpulike-animated-heart .wp_ulike_btn:active,
  #buddypress #activity-stream .activity-comments .wpulike-animated-heart .wp_ulike_btn:active,
  #buddypress #activity-stream .activity-inner .wpulike-animated-heart .wp_ulike_btn:active {
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25); }

#buddypress #activity-stream .activity-meta .wp_ulike_is_loading button.wp_ulike_btn,
#buddypress #activity-stream .activity-comments .wp_ulike_is_loading button.wp_ulike_btn,
#buddypress #activity-stream .activity-inner .wp_ulike_is_loading button.wp_ulike_btn {
  background-image: initial; }

@keyframes popHearts {
  0% {
    left: calc(50% - 7px);
    top: 10px; }
  20% {
    opacity: 1; }
  80% {
    top: -20px; }
  100% {
    opacity: 0; } }

/**
 * Widgets & Likers Box
 */
.wp_ulike_likers_wrapper {
  margin: 10px 0;
  flex: 0 0 100%; }
  .wp_ulike_likers_wrapper:empty {
    display: none; }
  .wp_ulike_likers_wrapper .wp-ulike-likers-list,
  .wp_ulike_likers_wrapper .tiles {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin: 0;
    padding: 0; }
    .wp_ulike_likers_wrapper .wp-ulike-likers-list .wp-ulike-liker,
    .wp_ulike_likers_wrapper .wp-ulike-likers-list li,
    .wp_ulike_likers_wrapper .tiles .wp-ulike-liker,
    .wp_ulike_likers_wrapper .tiles li {
      padding: 3px;
      margin: 0;
      list-style: none;
      display: block; }
      .wp_ulike_likers_wrapper .wp-ulike-likers-list .wp-ulike-liker a > img,
      .wp_ulike_likers_wrapper .wp-ulike-likers-list li a > img,
      .wp_ulike_likers_wrapper .tiles .wp-ulike-liker a > img,
      .wp_ulike_likers_wrapper .tiles li a > img {
        border-radius: 5px;
        display: block;
        border: 0;
        box-shadow: none;
        position: relative; }

.ulf-tooltip .wp_ulike_likers_wrapper {
  margin: 0; }

.most_liked_users {
  list-style-type: none !important;
  position: relative !important;
  margin: 10px 0 !important;
  padding: 0 !important; }
  .most_liked_users li {
    display: inline-table !important;
    cursor: pointer !important;
    margin: 0 2px !important; }
    .most_liked_users li img {
      display: block !important;
      float: none !important; }
  .most_liked_users li.inactive {
    visibility: hidden !important;
    opacity: 0 !important; }

.commentlist .tiles .avatar,
.commentlist .wp-ulike-liker .avatar {
  left: 0 !important; }

.wp_ulike_thumbnail {
  vertical-align: middle;
  margin: 0 10px 0 0; }

.most_liked_comment .avatar {
  vertical-align: middle;
  margin: 0 10px 0 0; }

.wp_ulike_style_simple .wp_counter_span:before {
  content: "("; }

.wp_ulike_style_simple .wp_counter_span:after {
  content: ")"; }

.wp_ulike_style_love .wp_counter_span {
  float: right;
  display: inline-block;
  background: #f1f1f1 url(../img/icons/heart.png) 5px center no-repeat;
  color: #333;
  font-size: 9px;
  line-height: 17px;
  font-weight: 400;
  margin: 2px 0 0 2px;
  vertical-align: middle;
  border-radius: 10px;
  padding: 0 5px 0 23px;
  z-index: 26; }

/**
 * Notification styles
 */
.wpulike-notification {
  position: fixed;
  z-index: 999999;
  pointer-events: none;
  right: 20px;
  bottom: 20px; }
  .wpulike-notification * {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }
  .wpulike-notification .wpulike-message {
    position: relative;
    pointer-events: auto;
    word-wrap: break-word;
    overflow: hidden;
    margin: 0 0 6px;
    padding: 14px 15px 14px 65px;
    width: 290px;
    border-radius: 3px;
    background-color: #007bc3;
    color: #FFFFFF;
    animation: wpUlikeNotifitcationsAnimation 200ms backwards;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.08);
    font-size: 0.9rem;
    font-weight: 500;
    line-height: normal; }
    .wpulike-notification .wpulike-message:hover {
      opacity: 0.9;
      cursor: pointer; }
    .wpulike-notification .wpulike-message:before {
      content: "";
      background-position: center center;
      background-repeat: no-repeat;
      background-image: url(../img/svg/info.svg);
      background-size: 25px;
      position: absolute;
      left: 0;
      width: 50px;
      top: 0;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.06); }
    .wpulike-notification .wpulike-message.wpulike-success {
      background-color: #20a779; }
      .wpulike-notification .wpulike-message.wpulike-success:before {
        background-image: url(../img/svg/success.svg); }
    .wpulike-notification .wpulike-message.wpulike-error {
      background-color: #ec4d2c; }
      .wpulike-notification .wpulike-message.wpulike-error:before {
        background-image: url(../img/svg/error.svg); }
    .wpulike-notification .wpulike-message.wpulike-warning {
      background-color: #f0a82f; }
      .wpulike-notification .wpulike-message.wpulike-warning:before {
        background-image: url(../img/svg/warning.svg); }

@keyframes wpUlikeNotifitcationsAnimation {
  from {
    opacity: 0;
    transform: translateY(100%); }
  to {
    opacity: 0.8;
    transform: translateY(0); } }

@media screen and (max-width: 768px) {
  .wpulike-notification .wpulike-message {
    padding: 11px 11px 11px 55px;
    font-size: 13px; }
    .wpulike-notification .wpulike-message:before {
      background-size: 25px;
      width: 45px; } }

@media screen and (max-width: 320px) {
  .wpulike-notification {
    left: 10px;
    right: 10px; }
    .wpulike-notification .wpulike-message {
      padding: 9px 9px 9px 45px;
      font-size: 12px;
      width: 100%; }
      .wpulike-notification .wpulike-message:before {
        background-size: 15px;
        width: 35px; } }

/* Confirm tooltip */
.ulf-tooltip {
  max-width: 360px;
  position: absolute;
  z-index: 999999;
  background: #444444;
  border-radius: 5px;
  padding: 10px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  top: 0;
  left: 0; }

/* Centers the tooltip on screens where it won't fit */
.ulf-centered {
  position: fixed;
  top: 50%;
  left: 50%; }

.ulf-content {
  margin: 5px 20px 5px 10px;
  font-size: 1em;
  line-height: 1.6em;
  text-align: center;
  color: #fff;
  font-weight: 800; }

/* Arrow */
.ulf-arrow {
  border: 15px solid rgba(232, 232, 232, 0);
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  margin-left: -15px; }

/* Arrow - Top */
.ulf-arrow-top {
  border-bottom-color: #444444;
  bottom: 100%;
  left: 50%;
  top: auto;
  right: auto; }

/* Arrow - Bottom */
.ulf-arrow-bottom {
  border-top-color: #444444;
  top: 100%;
  left: 50%;
  bottom: auto;
  right: auto; }

/* Arrow - Left */
.ulf-arrow-left {
  border-right-color: #444444;
  border-width: 15px;
  left: -14px;
  right: auto;
  bottom: auto;
  top: 50%;
  margin-top: -15px; }

/* Arrow - Right */
.ulf-arrow-right {
  border-left-color: #444444;
  right: -29px;
  left: auto;
  bottom: auto;
  border-width: 15px;
  top: 50%;
  margin-top: -15px; }

/* Arrow - Hug Left */
.ulf-arrow-hug-left {
  left: 30px;
  right: auto; }

/* Arrow - Hug Right */
.ulf-arrow-hug-right {
  right: 30px;
  left: auto; }

/* Arrow - Get really close to the left because the button is small */
.ulf-arrow-hug-left.ulf-arrow-super-hug {
  left: 15px;
  right: auto; }

/* Arrow - Get really close to the right because the button is small  */
.ulf-arrow-hug-right.ulf-arrow-super-hug {
  right: 1px;
  left: auto; }

/* Arrow - Get really close to the left because the button is small - need to adjust for border radius */
.ulf-arrow-top.ulf-arrow-hug-left.ulf-arrow-super-hug,
.ulf-arrow-top.ulf-arrow-hug-right.ulf-arrow-super-hug {
  top: -30px; }

/* Arrow - Get really close to the left because the button is small - need to adjust for border radius */
.ulf-arrow-bottom.ulf-arrow-hug-left.ulf-arrow-super-hug,
.ulf-arrow-bottom.ulf-arrow-hug-right.ulf-arrow-super-hug {
  top: auto;
  bottom: -30px; }

.ulf-tiny .ulf-arrow-hug-left.ulf-arrow-super-hug,
.ulf-tiny .ulf-arrow-hug-right.ulf-arrow-super-hug {
  bottom: -21px; }

.ulf-black-theme .ulf-arrow-top.ulf-arrow-hug-left.ulf-arrow-super-hug,
.ulf-black-theme .ulf-arrow-top.ulf-arrow-hug-right.ulf-arrow-super-hug {
  top: -27px; }

.ulf-black-theme .ulf-arrow-bottom.ulf-arrow-hug-left.ulf-arrow-super-hug,
.ulf-black-theme .ulf-arrow-bottom.ulf-arrow-hug-right.ulf-arrow-super-hug {
  bottom: -28px; }

/* White theme */
.ulf-white-theme {
  background: #fff;
  border: 2px solid #e4e4e4; }

.ulf-white-theme .ulf-content {
  color: #333; }

.ulf-white-theme .ulf-arrow-top {
  border-bottom-color: #e4e4e4; }

.ulf-white-theme .ulf-arrow-bottom {
  border-top-color: #e4e4e4; }

.ulf-white-theme .ulf-arrow-left {
  border-right-color: #e4e4e4; }

.ulf-white-theme .ulf-arrow-right {
  border-left-color: #e4e4e4; }

/* Large tooltip */
.ulf-large {
  font-size: 18px; }

/* Medium tooltip */
.ulf-medium {
  font-size: 14px; }

/* Small tooltip */
.ulf-small {
  font-size: 12px;
  padding: 5px; }

.ulf-small .ulf-content {
  margin: 2px 8px;
  line-height: 1.9em; }

/* Tiny tooltip */
.ulf-tiny {
  padding: 2px 5px;
  font-size: 10px; }

.ulf-tiny .ulf-content {
  margin: 3px; }

.ulf-tiny .ulf-button {
  margin: 0px 3px; }

.ulf-tiny .ulf-arrow {
  border-width: 10px;
  margin-left: -10px; }

.ulf-tiny .ulf-arrow-left {
  left: -10px;
  margin-top: -10px; }

.ulf-tiny .ulf-arrow-right {
  right: -20px;
  margin-top: -10px; }

/**
@todo: Rewrite arrows in JS since they are so complicated in CSS
 */
.ulf-tiny .ulf-arrow-bottom.ulf-arrow-hug-left.ulf-arrow-super-hug,
.ulf-tiny .ulf-arrow-top.ulf-arrow-hug-left.ulf-arrow-super-hug {
  left: 11px; }

.ulf-tiny .ulf-arrow-bottom.ulf-arrow-hug-right.ulf-arrow-super-hug,
.ulf-tiny .ulf-arrow-top.ulf-arrow-hug-right.ulf-arrow-super-hug {
  right: 1px; }

.ulf-tiny.ulf-white-theme .ulf-arrow-top.ulf-arrow-hug-left.ulf-arrow-super-hug,
.ulf-tiny.ulf-white-theme .ulf-arrow-top.ulf-arrow-hug-right.ulf-arrow-super-hug {
  top: -18px; }

.ulf-tiny.ulf-white-theme .ulf-arrow-bottom.ulf-arrow-hug-left.ulf-arrow-super-hug,
.ulf-tiny.ulf-white-theme .ulf-arrow-bottom.ulf-arrow-hug-right.ulf-arrow-super-hug {
  bottom: -21px; }

.ulf-tiny.ulf-black-theme .ulf-arrow-bottom.ulf-arrow-hug-left.ulf-arrow-super-hug,
.ulf-tiny.ulf-black-theme .ulf-arrow-bottom.ulf-arrow-hug-right.ulf-arrow-super-hug {
  bottom: -18px; }

/*!>>>>>>>>>>>>>>>>>>>>>>> #RTL <<<<<<<<<<<<<<<<<<<<<<<<<<< */
.rtl .wpulike-default .count-box {
  margin-right: 8px;
  margin-left: inherit; }
  .rtl .wpulike-default .count-box:before {
    right: -1px;
    left: auto;
    border-color: #bdbdbd #bdbdbd transparent transparent; }

.rtl .commentlist .tiles .avatar {
  left: inherit !important;
  right: 0 !important; }

.rtl .wp_ulike_thumbnail {
  margin: 0 0 0 10px; }

.rtl .most_liked_comment .avatar {
  margin: 0 0 0 10px; }

.rtl .wp_ulike_style_love .wp_counter_span {
  float: left;
  background: #F1F1F1 url(../img/icons/heart.png) no-repeat scroll 85% center;
  margin: 2px 2px 0 0;
  padding: 0 23px 0 5px; }

.rtl .wpulike-notification {
  left: 20px;
  right: inherit; }
  .rtl .wpulike-notification .wpulike-message {
    padding: 14px 65px 14px 15px; }
    .rtl .wpulike-notification .wpulike-message:before {
      left: auto;
      right: 0; }

@media screen and (max-width: 768px) {
  .rtl .wpulike-notification .wpulike-message {
    padding: 11px 55px 11px 11px; } }

@media screen and (max-width: 320px) {
  .rtl .wpulike-notification {
    left: 10px;
    right: 10px; }
    .rtl .wpulike-notification .wpulike-message {
      padding: 9px 45px 9px 9px; } }
