
.wpulike {
    display: block;
    position: relative;
    line-height: normal;
    margin: 0;
    padding: 10px 0;

    .wp_ulike_btn {
        margin: 0;
        position: relative;
        display: inline-block;
        border-radius: .25em;
        font-size: 14px;
        line-height: 28px;
        box-shadow: none;
        cursor: pointer;
        padding: 0 25px;
        vertical-align: middle;
        height: 28px;
        font-weight: 600;
        border: none;
        text-align: center;

        &:hover {
            text-decoration: none;
            border-color: #95a5a6;
            box-shadow: none;
        }
    }

    .wp_ulike_put_text{
        padding: 0 10px;
        min-width: 50px;
    }

    .wp_ulike_is_loading {
        .wp_ulike_btn {
            background-image: url(../img/svg/loader.svg);
            background-repeat: no-repeat;
            background-position: center center;

            span {
                visibility: hidden;
            }

            &.wp_ulike_put_image{
                &:after{
                    content: none;
                }
            }
        }
    }

}

.wp_ulike_click_is_disabled {
    pointer-events: none;
    cursor: default;
}

.wp_ulike_hide_me {
    visibility: hidden;
}