
/**
 * Widgets & Likers Box
 */


.wp_ulike_likers_wrapper{
    transition: all 500ms cubic-bezier(0.190, 1.000, 0.220, 1.000);
    display: block;
    position: absolute;
    left: 0;
    transform: translateY(-30px);
    bottom: 0;
    background: #eeeeee;
    padding: 5px;
    opacity: 0;
    box-shadow: 2px 2px 1px rgba(0,0,0,0.1);
    border-radius: 5px;
    z-index: 9;

    &:empty{
        display: none;
    }

    .wp-ulike-likers-list, .tiles {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        margin: 0;
        padding: 0;

        .wp-ulike-liker, li {
            padding: 3px;
            margin: 0;
            list-style: none;

            a {

                > img{
                    border-radius: 5px;
                    transition: opacity 1500ms cubic-bezier(0.190, 1.000, 0.220, 1.000);
                    display: block;
                    border: 0;
                    opacity: 0;
                    box-shadow: none;
                }
            }
        }
    }

    &:after{
        content: '';
        position: absolute;
        top: 100%;
        left: 15px;
        width: 0;
        height: 0;
        border-top: 8px solid #eeeeee;
        border-right: 8px solid transparent;
        border-left: 8px solid transparent;
    }
}

.wpulike {

    &:hover{
        .wp_ulike_likers_wrapper{
            transform: translateY(-50px);
            opacity: 1;

            .wp-ulike-liker a > img, .tiles a > img {
                opacity: 1;
            }
        }
    }

}

.most_liked_users {
    list-style-type: none !important;
    position: relative !important;
    margin: 10px 0 !important;
    padding: 0 !important;
    li {
        display: inline-table !important;
        cursor: pointer !important;
        margin: 0 2px !important;
        img {
            display: block !important;
            float: none !important;
        }
    }
    li.inactive {
        visibility: hidden !important;
        opacity: 0 !important;
    }
}
.commentlist {
    .tiles, .wp-ulike-liker {
        .avatar {
            left: 0 !important;
        }
    }
}
.wp_ulike_thumbnail {
    vertical-align: middle;
    margin: 0 10px 0 0;
}
.most_liked_comment {
    .avatar {
        vertical-align: middle;
        margin: 0 10px 0 0;
    }
}
.wp_ulike_style_simple {
    .wp_counter_span {
        &:before {
            content: "(";
        }
        &:after {
            content: ")";
        }
    }
}
.wp_ulike_style_love {
    .wp_counter_span {
        float: right;
        display: inline-block;
        background: #f1f1f1 url(../img/icons/heart.png) 5px center no-repeat;
        color: $wp-ulike-color-dark-90;
        font-size: 9px;
        line-height: 17px;
        font-weight: 400;
        margin: 2px 0 0 2px;
        vertical-align: middle;
        border-radius: 10px;
        padding: 0 5px 0 23px;
        z-index: 26;
    }
}